body {
    background-image: url('./assets/images/default_wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 0;
    min-height: 100vh;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}


.loaded {
    opacity: 1;
}

@font-face {
    font-family: 'Moderniz';
    src: url('./assets/fonts/Moderniz.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AllenSans';
    src: url('./assets/fonts/AllenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AllenSans';
    src: url('./assets/fonts/AllenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AllenSans';
    src: url('./assets/fonts/AllenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: light;
}

h1 {
    margin-bottom: 20px;
    font-family: 'AllenSans', bold;
    font-size: 80px;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    background-color: #3a26ee7e;
    color: white;
    border: none;
    padding: 10px 10px 10px 30px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    background-image: url('./assets/images/search-icon.png');
    background-size: 2.7%;
    background-repeat: no-repeat;
    background-position: 1.4%;
}

@media (max-width: 768px) {
    h1 {
        font-size: 70px;
        text-align: center;
    }
    input[type='text'] {
        width: 90%;
        background-size: 3.5%;
        background-position: 3%
    }
}

.buttons {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

footer {
    color: #ffffff41;
    text-align: bottom;
    padding: 10px;
}

.buttons button[data-engine='google'] {
    background-image: url('./assets/images/google-icon.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 13% 50%;
}

.buttons button[data-engine='bing'] {
  background-image: url('./assets/images/bing-icon.png');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 18% 50%;
}

.buttons button[data-engine='youtube'] {
    background-image: url('./assets/images/youtube-icon.png');
    background-size: 45px;
    background-repeat: no-repeat;
    background-position: 0% 50%;
}

.buttons button[data-engine='duckduckgo'] {
    background-image: url('./assets/images/duckduckgo-icon.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 7% 50%;
}

.buttons button[data-engine='brave'] {
    background-image: url('./assets/images/brave-icon.png');
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: 8% 50%;
}

.buttons button {
    background-color: #3a26ee7e;
    color: white;
    border: none;
    padding: 10px 20px 10px 40px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}



button:hover {
    background-color: #3a26ee;
}
